@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* global */
a {
    text-decoration: none;
    color: black;
}

body .BigContainerTodos {
    display: grid;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

body .BigContainerTodos .Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body .BigContainerTodos .Header .Title {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    margin: 5px;
    color: red;
}

body .BigContainerTodos .Header a button {
    background-color: rgb(255, 255, 255);
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
}

body .BigContainerTodos .ContainerTodos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

body .BigContainerTodos .ContainerTodos .Task {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border: 1px dashed black;
    border-radius: 5px;
    width: 500px;
}

/* left side  */
body .BigContainerTodos .ContainerTodos .Task .TitleDescription {
    width: 80%;
}

body .BigContainerTodos .ContainerTodos .Task .TitleDescription .Title {
    font-size: 20px;
    text-transform: capitalize;
    font-family: "Nata Sans", sans-serif;
}

body .BigContainerTodos .ContainerTodos .Task .TitleDescription hr {
    border: none;
    border-top: 2px dashed black;
}

body .BigContainerTodos .ContainerTodos .Task .TitleDescription .Description {
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Nata Sans", sans-serif;
    color: rgb(109, 109, 109);
}

body .BigContainerTodos .ContainerTodos .Task .Actions {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

body .BigContainerTodos .ContainerTodos .Task .Actions a {
    text-decoration: none;
    color: black;
}