{{define "Page"}}
<div class="BigContainerTodos">
    <!-- header -->
    <div class="Header">
        <h2 class="Title">Todo App</h2>
        <a href=""><button>add <i class="fa-solid fa-plus"></i></button></a>
    </div>
    <div class="ContainerTodos">
        <!-- tasks -->
        <div class="Task">
            <!-- left section -->
            <div class="TitleDescription">
                <div class="Title">
                    task1
                </div>
                <hr>
                <div class="Description">
                    <p>desc task1</p>
                </div>
            </div>
            <!-- right section actions -->
            <div class="Actions">
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>
{{end}}