{{define "Page"}}
<div class="BigContainerTodos">
    <h2 class="Title">Todo App</h2>
    <div class="ContainerTodos">
        <!-- tasks -->
        <div class="Task">
            <!-- left section -->
            <div class="TitleDescription">
                <div class="Title">
                    task1 
                </div>
                <hr>
                <div class="Description">
                    <p>desc task1</p>
                </div>
            </div>
            <!-- right section actions -->
            <i class="fa-solid fa-plus"></i> Add

        </div>
        <div class="Task">
            <!-- left section -->
            <div class="TitleDescription">
                <div class="Title">
                    task1 
                </div>
                <hr>
                <div class="Description">
                    <p>desc task1</p>
                </div>
            </div>
            <!-- right section actions -->
            <input type="checkbox" name="" id="">
            <div>delet</div>
        </div>
        <div class="Task">
            <!-- left section -->
            <div class="TitleDescription">
                <div class="Title">
                    task1 
                </div>
                <hr>
                <div class="Description">
                    <p>desc task1</p>
                </div>
            </div>
            <!-- right section actions -->
            <input type="checkbox" name="" id="">
            <div>delet</div>
        </div>
    </div>
</div>
{{end}}